<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <h1>Vide ta cave !</h1>
      <a class="btn btn-success" href="/products/new">Dépose une annonce !</a>
    </div>
    <div class="col-sm-offset-4 col-sm-4">
      <h1>Sinon, remplis la !</h1>
      <a class="btn btn-success" href="/products/index">Voir les annonces !</a>
    </div>
  </div>
</div>
